@import url('https://fonts.googleapis.com/css2?family=Arapey:ital@0;1&family=Cinzel:wght@400;500;600&family=Kaushan+Script&family=Oswald:wght@700&family=Playfair+Display:ital,wght@0,400;0,666;0,900;1,400;1,500;1,600&family=Shrikhand&family=Source+Serif+Pro:ital,wght@0,200;1,200&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;


}


h1{
    font-size: 50px;
    line-height: 64px;
    color: black;
}

h2{
    font-size: 46px;
    line-height: 54px;
    color: black;
}

h4{
    font-size: 20px;
    color: black;
}

h6{
    font-weight: 700;
    font-size: 12px;
}
p{
    font-size: 16px;
    color: black;
    margin: 15px 0 20px 0;

}



.section-p1{
    padding: 40px 80px;

}

.section-m1{
    margin: 40px 0;

}


body{
    width: 100%;

}


.loader {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: url('logo.png') 50% 50% no-repeat rgb(255, 255, 255);
    opacity: 1;
}

#header{
display: flex;
align-items: center;
justify-content: space-between;
padding: 20px 80px;
background-color: rgb(255, 255, 255);
box-shadow: 0 8px 15px rgba(0, 0, 0, 0.06);
position:fixed;
width: 100%;

}


#navbar{
    display: flex;
    align-items: center;
    justify-content: center;
}

#navbar li{
    list-style: none;
    padding: 0 20px;
    position: relative;

}

#navbar li a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: black;
    transition: 0.3s ease;
}

#navbar li a:hover,
#navbar li a.active{
    color: rgb(126, 136, 135);

}

#navbar li a.active::after,
#navbar li a:hover::after{
    content: '';
    width: 30%;
    height: 2px;
    background-color: rgb(126, 136, 135);
    position: absolute;
    bottom: -4px;
    left: 20px;
}



.logo{
    width: 50%;
}



#mobile{
    display:none;
    align-items: center;
}

#close{
    display: none;
}

@media (max-width:799px) {

    #navbar{
      display: flex;
      flex-direction: column;
      align-items:flex-start ;
      justify-content: flex-start; 
      position: fixed;
       top: 0;
       right:-300px;
       height: 100vh;
       width: 300px;
       background-color: #fff;
box-shadow: 0  40px 60px  rgba(0, 0, 0, 0.06);
       
padding: 80px 0 0 10px;
transition: 0.3s;

    }

    #navbar.active{
        right: 0;

    }

    #navbar li{
        margin-bottom:25px  ;
    }


    #mobile{
        display: flex;
        align-items: center;
    }

    #mobile i{
        color: black;
        font-size: 24px;
        padding-left:20px ;
    }
  
#close{
    display: initial;
  position: absolute;
  top:30px;
  left: 30px;
  color: black;
  font-size: 24px;

}

#lg-bag{
    display: none;
}


}






.shop1{
    padding:6%;
    justify-content: center;
    align-items: center;
    
    
    }
    
    .shop1 h1{
    
        font-size: 5rem;
        font-weight:900;
    
        color: black;
    letter-spacing: -4px;
    line-height: 1em;
    
    
    
    font-family:'Times New Roman', Times, serif;
        
    }
    
    
    .shop1 p{
        font-size: 1.4rem; 
        font-weight:400;
    }
    
    .shop1 button{
    padding:0.5% 1%;
    font-size: larger;
    
    }
    
    .parent {
        position: relative;
      
        margin: 0 5%;
        align-content: center;
        align-items:center;
        align-self: center;
        justify-content: center;
        text-align: justify;
      }
      .parent img {
        vertical-align: middle;
      }
      .parent .text {
        position: absolute;
        bottom: 0;
        background: rgb(0, 0, 0);/* Fallback color */
        background: rgba(0, 0, 0, 0.5);/* Black background with opacity */
        color: #fff;
        max-width: 900px;
        padding: 10px 50px;
        align-items: center;
        justify-content: center;
        align-content: center;
      }









/* 
      .main-banner .wrapper {
        position: relative;
        padding-top: 200px;
        padding-bottom: 245px;
    }

    
    
  
  .main-banner {
    position: relative; 
      height: 100vh;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      background-image: url(s1.png);
      background-size: cover;
      background-attachment: fixed;
  }
  
  .main-banner::before {    
    content: "";
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-color: rgba(5, 5, 3, 0.5);
  }
  
  
  
  
  .main-banner h1 {
   position: relative;
    color: #ffffff;  
    font-size: 2.5rem;
    line-height: 0.9;
    text-align: center;
  }
  
  .main-banner h1 em {
    font-size: 150%;
    line-height: 1;
    font-weight: 200;
    text-transform: lowercase;
  }
  
  .main-banner h1 em:last-child {
    margin-top: -15px;
    display: block;
  }
  
  .main-banner .wrapper {
    position: relative;
    padding-top: 25%;
    padding-bottom: 10%;
  }
  
   */
  /* .box11{
  
    font-weight: bold;
   
    margin: 0;
    
    position: absolute;
    width: 100%;
    text-align: center;
    text-transform: uppercase;
  
    }


.pbox{
    padding:1% 15%;
    justify-content: center;
    text-align: justify;
    font-size:1.3rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
 */


section {
   
    overflow: hidden;
  }
  .section-bg {
    padding-top: 7%;
    padding-bottom: 5%;
    background-color:#fff;
  }
  .section-bg-blue {
    background-color: #000000;
  }
  .section-title {
    text-align: center;
    padding-bottom: 30px;
  }
  .section-title h2 {
    font-size: 32px;
    font-weight: bolder;
    text-transform: uppercase;
    margin-bottom: 20px;
    padding-bottom: 20px;
    position: relative;
  }
  .section-title h2::after {
    content: '';
    position: absolute;
    display: block;
    width: 50px;
    height: 5px;
    background: #000000;
    bottom: 0;
    left: calc(50% - 25px);
    border-radius: 15px;
  }
  .section-title p {
    margin-bottom: 0;
  }
  
      
  .about-us .content p:last-child {
    margin-bottom: 0;
  }
      
  .text-color-1 {
    color: #000000 !important;
  }
  
      
  .quote1 {
    position: absolute;
    top: 30px;
    height: 80px;
    left: 40px;
  }
  .quote2 {
    position: absolute;
    bottom: 30px;
    height: 80px;
    right: 40px;
    transform: rotate(180deg);
  }
  
  .test-inner{
  
    padding: 6% 10%;
    
    
    }

    .line1{
      
        
        color: #000000;
        text-decoration: dotted;
        align-items: center;
        justify-content: center;
        text-align: justify;
      width: 70%;

    }







    


.op1 {
    background-color: rgba(209, 202, 212, 0.2);
    color: #fff;
  }
    
  
  .op{
  
  
    border: 1px solid  rgb(160, 158, 161) ;
    border-radius: .5em;
    font-size: 140%;
    padding: 20px;
    height:100%;
  
  }
  
  .ptag{
    justify-content: center;
   
    align-items: center;
    
  font-style: italic;
    font-size: 20px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  }





.htag{

text-align: center;
font-size: 35px;
align-content: center;
color: rgb(0, 0, 0);


}
.aboutrow{
 margin: 5%;
  
}

  
#footer{
 
 
    padding: 7% 15%;
    text-align: center;
  }
  
  
  
  .social-icon{
    margin: 20px 10px;
    color: rgb(0, 0, 0);
   
  }
  




  
input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: #04AA6D;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

.container {
  border-radius: 5px;
  background-color:#fff;
  padding: 20px;
}


#cpage{
padding-top: 15%;
padding-bottom: 8%;
padding-left: 8%;
padding-right: 10%;
}


.pp{
  text-align: justify;
  justify-content: center;
  font-size: larger;
  font-style: italic;
  padding:0% 5%;
  padding-bottom: 13%;

}